/*元素居中对齐*/
/*要水平居中对齐一个元素(如 <div>), 可以使用 margin: auto;。*/

                                        /*设置到元素的宽度将防止它溢出到容器的边缘。*/

                                        /*元素通过指定宽度，并将两边的空外边距平均分配：*/

.center{
    margin:auto;
    width:50%;
    border:3px solid green;
    padding:10px;
}


/*仅仅是为了文本在元素内居中对齐，可以使用 text-align: center;*/

.center{
    text-align:center;
    border:3px solid green;
}
/*让图片居中对齐, 可以使用 margin: auto; 并将它放到 块 元素中:*/

image{
    display:block;
    margin:auto;
    width:40%;
}


/*左右对齐 - 使用定位方式*/
       /*我们可以使用 position: absolute; 属性来对齐元素:*/

.right{
    position:absolute;
    right:0px;
    width:300px;
    border:3px solid #73ad21;
    padding:10px;
}
/*绝对定位元素会被从正常流中删除，并且能够交叠元素*/


/*左右对齐 - 使用 float 方式*/
       /*我们也可以使用 float 属性来对齐元素*/


.right{
    float:right;
    width:300px;
    border:3px solid  #73ad21;
    padding:20px;
}

/*如果子元素的高度大于父元素，且子元素设置了浮动，那么子元素将溢出，*/
/*可以在父元素上添加 overflow: auto; 来解决子元素溢出的问题:*/
.clearfix{
    overflow:auto;
}
/*使用 float 属性时，请始终设置 !DOCTYPE 声明*/






/*垂直居中对齐 - 使用 padding*/
         /*CSS 中有很多方式可以实现垂直居中对齐。 一个简单的方式就是头部顶部使用 padding:*/


.center{
    padding:70px 0;
    border:3px solid green;

}


/*如果要水平和垂直都居中，可以使用 padding 和 text-align: center:*/

.center{
    padding:70px 0;
    border:3px solid green;
    text-align:center;
}



/*垂直居中 - 使用 line-height*/
.center{
    line-height:200px;
    height:200px;
}


/*垂直居中 - 使用 position 和 transform*/
       /*除了使用 padding 和 line-height 属性外,我们还可以使用 transform 属性来设置垂直居中*/

.center p{

    margin:0;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-0.5,-0.5);
}




/*CSS 使用 margin 让 div 居中对齐*/

div{
    margin-left:auto;
    margin-right:auto;
}

/*绝对定位 让 div 右对齐*/
div{
    position:absolute;
    right:0px;
}