/*CSS伪元素是用来添加一些选择器的特殊效果*/
/*伪元素的语法：*/

/*selector:pseudo-element {property:value;}*/
/*CSS类也可以使用伪元素：*/

/*selector.class:pseudo-element {property:value;}*/

/*:first-line 伪元素*/
/*"first-line" 伪元素用于向文本的首行设置特殊样式。*/

             /*在下面的例子中，浏览器会根据 "first-line" 伪元素中的样式对 p 元素的第一行文本进行格式化：*/

p:first-line{
    color:yellow;
    font-variant:small-caps;
}

/*"first-line" 伪元素只能用于块级元素。*/

             /*注意： 下面的属性可应用于 "first-line" 伪元素：*/

                                        /*font properties*/
                                        /*color properties*/
                                        /*background properties*/
                                        /*word-spacing*/
                                        /*letter-spacing*/
                                        /*text-decoration*/
                                        /*vertical-align*/
                                        /*text-transform*/
                                        /*line-height*/
                                        /*clear*/

/*:first-letter 伪元素*/
/*"first-letter" 伪元素用于向文本的首字母设置特殊样式*/
p:first-letter{
    color:red;
    font-size:2px;
}


/*"first-letter" 伪元素只能用于块级元素。*/

               /*注意： 下面的属性可应用于 "first-letter" 伪元素：*/

                                            /*font properties*/
                                            /*color properties*/
                                            /*background properties*/
                                            /*margin properties*/
                                            /*padding properties*/
                                            /*border properties*/
                                            /*text-decoration*/
                                            /*vertical-align (only if "float" is "none")*/
/*text-transform*/
/*line-height*/
/*float*/
/*clear*/

/*伪元素可以结合CSS类*/
p.article:first-letter{
    color:red;
}



/*以结合多个伪元素来使用。*/

/*在下面的例子中，段落的第一个字母将显示为红色，其字体大小为 xx-large。第一行中的其余文本将为蓝色，并以小型大写字母显示。*/

/*段落中的其余文本将以默认字体大小和颜色来显示：*/


p:first-letter{
    color:red;
    font-size:xx-large;
}
p:first-line{
    color:blue;
    font-size:xx-small;
}




/*CSS - :before 伪元素*/
/*":before" 伪元素可以在元素的内容前面插入新内容。*/

          /*下面的例子在每个 <h1>元素前面插入一幅图片：*/

h1:before{
    content:url("test.gif");
}


/*CSS - :after 伪元素*/
/*":after" 伪元素可以在元素的内容之后插入新内容。*/

         /*下面的例子在每个 <h1> 元素后面插入一幅图片：*/

h1:after{
    content:url("test.gif");
}


伪类选择元素基于的是当前元素处于的状态，或者说元素当前所具有的特性，而不是元素的id、class、属性等静态的标志。由于状态是动态变化的，所以一个元素达到一个特定状态时，它可能得到一个伪类的样式；当状态改变时，它又会失去这个样式。由此可以看出，它的功能和class有些类似，但它是基于文档之外的抽象，所以叫伪类。

与伪类针对特殊状态的元素不同的是，伪元素是对元素中的特定内容进行操作，它所操作的层次比伪类更深了一层，也因此它的动态性比伪类要低得多。实际上，设计伪元素的目的就是去选取诸如元素内容第一个字（母）、第一行，选取某些内容前面或后面这种普通的选择器无法完成的工作。它控制的内容实际上和元素是相同的，但是它本身只是基于元素的抽象，并不存在于文档中，所以叫伪元素。












